extends layout.pug

block content

  article.portfolio-intro

     
    h1 My Completed Projects

     
    p Welcome! This portfolio showcases some of the skills I've learned while completing the TreeHouse JavaScript Techdegree program. Thanks for visiting!


  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='image thumbnail')
            h5= project.project_name
